# Programming Assingment 2

## 1\. Write a Python program to convert kilometers to miles?

In [ ]:
kilometer = float(input("Enter kilometers :"))
mile = kilometer * 0.621

print(mile)

Enter kilometers :10
6.21

## 2\. Write a Python program to convert Celsius to Fahrenheit?

In [ ]:
celsius = int(input("Enter temperature in celsius : "))
farenheit = (celsius*(9/5)) + 32
print(farenheit)

Enter temperature in celsius : 100
212.0

## 3\. Write a Python program to display calendar?

In [ ]:
import calendar

year = int(input("Enter year : "))
print(calendar.calendar(year))

Enter year : 2023
                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

## 4\. Write a Python program to solve quadratic equation?

In [ ]:
import math
import cmath

a = int((input("Enter a : ")))
b = int((input("Enter b : ")))
c = int((input("Enter c : ")))

discriminant = b**2 - 4*a*c

if discriminant == 0:
  r1 = -b / (2*a)
  r2 = -b / (2*a)
  print("Roots are Real",r1,r2)
elif discriminant > 0:
  r1 = (-b - math.sqrt(discriminant)) / (2*a)
  r2 = (-b + math.sqrt(discriminant)) / (2*a)
  print("Roots are Real and different",r1,r2)
else:
  r1 = (-b - cmath.sqrt(discriminant)) / (2*a)
  r2 = (-b + cmath.sqrt(discriminant)) / (2*a)
  print("Roots are Imaginary",r1,r2)

Enter a : 1
Enter b : 2
Enter c : 1
Roots are Real -1.0 -1.0

## 5\. Write a Python program to swap two variables without temp variable?

In [ ]:
num1 = int(input('Enter first number : '))
num2 = int(input('Enter second number : '))

num1, num2 = num2, num1

print(num1,num2)

Enter first number : 10
Enter second number : 20
20 10