# Programming Assingment 19

## Question 1

```
Create a function that takes a string and returns a string in which each character is repeated once.

Examples:
double_char("String") ➞ "SSttrriinngg"
double_char("Hello World!") ➞ "HHeelllloo WWoorrlldd!!"
double_char("1234!_ ") ➞ "11223344!!__ "
```

In [ ]:
def double_char(string):
  answer = ""
  for char in string:
    answer += char*2
  return answer

print(double_char("String") )
print(double_char("Hello World!"))
print(double_char("1234!_ "))

SSttrriinngg
HHeelllloo  WWoorrlldd!!
11223344!!__

## Question 2

```
Create a function that reverses a boolean value and returns the string "boolean expected" if another variable type is given.
Examples:
reverse(True) ➞ False
reverse(False) ➞ True
reverse(0) ➞ "boolean expected"
reverse(None) ➞ "boolean expected"
```

In [ ]:
def reverse(b):
  if isinstance(b,bool):
    return not b
  else:
    return "boolean expected"

In [ ]:
print(reverse(True))
print(reverse(False))
print(reverse(0))
print(reverse(None))

False
True
boolean expected
boolean expected

## Question 3

```
Create a function that returns the thickness (in meters) of a piece of paper after folding it n number of times. 
The paper starts off with a thickness of 0.5mm.

Examples:
num_layers(1) ➞ "0.001m"
Paper folded once is 1mm (equal to 0.001m)
num_layers(4) ➞ "0.008m"
Paper folded 4 times is 8mm (equal to 0.008m)
num_layers(21) ➞ "1048.576m"
Paper folded 21 times is 1048576mm (equal to 1048.576m)
```

In [ ]:
def num_layers(n):
  thickness = 0.5
  for i in range(n):
    thickness *= 2
  return f"Paper folded {n} times is {int(thickness)}mm (equal to {thickness/1000}m)"

In [ ]:
print(num_layers(1))
print(num_layers(4))
print(num_layers(21))

Paper folded 1 times is 1mm (equal to 0.001m)
Paper folded 4 times is 8mm (equal to 0.008m)
Paper folded 21 times is 1048576mm (equal to 1048.576m)

## Question 4

```
Create a function that takes a single string as argument and returns an ordered 
list containing the indices of all capital letters in the string.

Examples:
index_of_caps("eDaBiT") ➞ [1, 3, 5]
index_of_caps("eQuINoX") ➞ [1, 3, 4, 6]
index_of_caps("determine") ➞ []
index_of_caps("STRIKE") ➞ [0, 1, 2, 3, 4, 5]
index_of_caps("sUn") ➞ [1]
```

In [ ]:
def index_of_caps(string):
  items = []
  for index, char in enumerate(string):
    if char.isupper():
      items.append(index)
  return items

In [ ]:
print(index_of_caps("eDaBiT"))
print(index_of_caps("eQuINoX"))
print(index_of_caps("determine"))
print(index_of_caps("STRIKE"))
print(index_of_caps("sUn"))

[1, 3, 5]
[1, 3, 4, 6]
[]
[0, 1, 2, 3, 4, 5]
[1]

## Question 5

```
Using list comprehensions, create a function that finds all even numbers from 1 to the given number.

Examples:
find_even_nums(8) ➞ [2, 4, 6, 8]
find_even_nums(4) ➞ [2, 4]
find_even_nums(2) ➞ [2]
```

In [ ]:
def find_even_nums(n):
  return [i for i in range(1,n+1) if i%2==0]

In [ ]:
print(find_even_nums(8))
print(find_even_nums(4))
print(find_even_nums(2))

[2, 4, 6, 8]
[2, 4]
[2]